.items-panel-container {
    width: 450px;
    height: 920px;
    vertical-align: top;
    display: inline-block;
    margin: 32px 8px 20px 8px;
    overflow-y: auto;
}

.items-panel-header {
    text-align: center;
    font-size: 24px;
}